<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login com MySQL</title>
</head>

<body>
    <div class="container">
        <form method="post" action="/login/tratando">
            <label for="email">Email:</label>
            <input name="email" id="email" type="email">
            <br>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password">                    
            <button style="margin-top: 1rem;padding: 0.5rem;" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>